<header class='sec-header' id='home-header'>
	<h1 id='h1-logo'>Crowd Interactive</h1>
	<h1 class='main-h1'>Design Samples</h1>
</header>
<section class='sp1'>
	<article class='sp1'>
		<%=image_tag("image1.png")%>
		<footer class='img-footer'>
			<p>Magma Rails 2011</p>
		</footer>
	</article>
</section>
<section class='sp1'>
	<article class='sp2'>
		<%=image_tag("image2.png")%>
		<footer class='img-footer'>
			<p>Free Days Manager</p>
		</footer>
	</article>
	<article class='sp2'>
		<%=image_tag("image3.png")%>
		<footer class='img-footer'>
			<p>Clutchapp</p>
		</footer>
	</article>
</section>
<section class='sp1'>
	<article class='sp4'>
		<%=image_tag("image4.png")%>
	</article>
	<article class='sp4'>
		<%=image_tag("image5.png")%>
	</article>
	<article class='sp4'>
		<%=image_tag("image6.png")%>
	</article>
	<article class='sp4'>
		<%=image_tag("image7.png")%>
	</article>
</section>