<header id='main-header'>
	<div class='container wrapper'>
		<a href='/' id='logo'>Creative CROWD</a>
		<nav id='main-nav' class='pull-right'>
			<ul>
				<li class="<%=is_active('static_pages', 'home')%>"><a href='/'>Home</a></li>
				<li class="<%=is_active('static_pages', 'team')%>"><a href='/team'>Team</a></li>
				<li class="<%=is_active('static_pages', 'samples')%>"><a href='/'>Samples</a></li>
				<li class="<%=is_active('static_pages', 'mistery_box')%>"><a href='/mistery_box'>Box</a></li>
				<li class="<%=is_active('static_pages', 'store')%>"><a href='/store'>Store</a></li>
			</ul>
		</nav>
	</div>
</header>
